@using BlazorChat.Shared
@using Microsoft.AspNetCore.Blazor.Browser.Interop
@page "/"
@inject HttpClient Http


@{
    //var forecast = new WeatherForecast
    //{
    //    Summary = "Summary text goes here"
    //};

    var chats = new Chat[]
   {
//new Chat {Author="Layla", Body="Hello world" },
//new Chat {Author="World", Body="Hello Layla" }
   };
}
<h1>Chat</h1>

@if (IsNew)
{

    <ChatForm Author=@Author IsNewChat=@IsNew></ChatForm>
}
else
{

    <Message chats=@chats></Message>
    <ChatForm Author=@Author></ChatForm>

}




@functions{

    private string Author { get; set; }
    private bool IsNew { get; set; } = true;




    protected override void OnInit()
    {
        string token = RegisteredFunction.Invoke<string>("getToken");
        if (token == null)
        {
            IsNew = true;
        }
        else
        {
            IsNew = false;

        }
    }

}




