@using BlazorChat.Shared

@foreach (var chat in chats)
{


<div class="message">
    <p class="message-author">From: <strong>@chat.author</strong></p>
    <p class="message-body">Message: @chat.body</p>
    <hr/>
</div>

}

@functions{
    [Parameter]
    Chat[] chats { get; set; }
}